#orangebox {
	background-color: orange;
	width: 300px;
    height: 100px;
    border: 1px solid blue;
	text-align: center;
	color:white;
	font-size: 200%;
}

#lightorange {
	background-color: #FAEBD7;
	width: 600px;
    height: 300px;
    border: 1px solid blue;
	color:green;
}

#randnum {
	background-color: #8FBC8F;
	width: 200px;
    height: 120px;
    border: 1px solid blue;
	color:#9400D3;
	float:left;
	font-size: 200%;

}

#result1{
	background-color: #00FFFF;
	width: 100px;
    height: 60px;
    border: 1px solid blue;
	color:black;
	float:left;
}

#result2{
	float:left;
	background-color: #00FFFF;
	width: 100px;
    height: 60px;
    border: 1px solid blue;
}

#diamond1{
	clear:both;
	background-color: white;
	width: 100px;
	height:100px;
	border:1px solid blue;
	float:left;
}

#diamond2{
 	float:left;
	background-color: white;
	width: 100px;
	height:100px;
	border:1px solid blue;
}

#diamond3{
 	float:left;
	background-color: white;
	width: 100px;
	height:100px;
	border:1px solid blue;
}
#diamond4{
 	float:left;
	background-color: white;
	width: 100px;
	height:100px;
	border:1px solid blue;
}

#Totalscore{
	clear:both;
	background-color: #20B2AA;
	width: 180px;
	height: 70px;
	border:1px solid blue;
	color:white;
}

#Score{
	background-color: #20B2AA;
	width: 180px;
	height:170px;
	border:1px solid blue;
	color:white;
}
